@model TecWebProject.Models.ModelSites

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Site</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Site.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Site.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Site.Acesso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Site.Acesso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Site.Link)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Site.Link)
        </dd>

        <dt>
            @Html.LabelFor(model => model.Site.Catalogo)
        </dt>

        <dd>
            @Html.DropDownListFor(model => model.Site.Catalogo.Id, (IEnumerable<SelectListItem>)ViewBag.Catalogos, null, new { @class = "form-control" })
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
