@model TecWebProject.Models.ModelSites

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Site</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Site.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Site.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Site.Acesso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Site.Acesso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Site.Link)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Site.Link)
        </dd>

    </dl>
</div>
@if (Model.UserSites.Contains(Model.Site))
{
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Site.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
else
{
    <p>@Html.ActionLink("Back to List", "Index")</p>
}
