@model IEnumerable<TecWebProject.Models.Catalogo>

@{
    ViewBag.Title = "Index";
}

<h2>Catalogs</h2>

<table class="table">
    @using (Html.BeginForm())
    {
        <tr>
            <th>
                Nome: @Html.TextBox("nome", (string)ViewBag.Filtro)
            </th>
            <th>
                Categoria: @Html.TextBox("categoria", (string)ViewBag.Filtro)
            </th>
            <th>
                Usuario: @Html.TextBox("usuario", (string)ViewBag.Filtro)
                <input type="submit" value="Filtrar" />
            </th>
        </tr>
    }
    <tr>
        <th>
            @Html.ActionLink("Nome", "Index", new { ordenar = ViewBag.OrdenarNome, nome = ViewBag.Filtro })
        </th>
        <th>
            @Html.ActionLink("Categoria", "Index", new { ordenar = ViewBag.OrdenarSobrenome, nome = ViewBag.Filtro })
        </th>
        <th>
            @Html.ActionLink("Usuario", "Index", new { ordenar = ViewBag.OrdenarUsuario, nome = ViewBag.Filtro })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sites)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Categoria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sites.Count)
        </td>
        @if(Session["User"] != null){
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id })
        </td>

        }
        else
        {
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.Id })
            </td>
        }
</tr>
}

</table>
